<h1>Client => About us</h1>
<p>This is Aaditya Sharma, I am a studint of B.tech</p>
<p>I'm from Uttar Pradesh dist belong Gorakhpur</p>
<p>I am a Data Scientist and i'm also interest in machine learning and Artificial Inteligence</p>
